### Idea

.idea
*.ipr
*.iws

### External jar libraries

lib_1
*.jar

### Scala template

*.log
*.sc

### Sbt specific

target/
lib_managed/
src_managed/
project/boot/
project/target/
.cache
.history

### Mac OSX

.DS_Store
.AppleDouble
.LSOverride
.Trashes

